# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/calsnap

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Google Cloud Vision API
GOOGLE_APPLICATION_CREDENTIALS=path_to_your_google_credentials.json

# Edamam API
EDAMAM_APP_ID=your_edamam_app_id
EDAMAM_APP_KEY=your_edamam_app_key

# Defaults
DEFAULT_DAILY_CALORIES=2500 